/************************ СТРАНИЦА РАБОЧЕГО СТОЛА ************************/


/* уведомления */

#bug-info-success {
    display: none;
}

#bug-info-danger {
    display: none;
}

#bug-info-warning {
    display: none;
}