/************************ СТРАНИЦА ВХОДА ************************/


/* уведомления */

#registration-info-success {
    display: none;
}

#registration-info-warning {
    display: none;
}

#registration-info-danger {
    display: none;
}