/************************ СТРАНИЦА ВХОДА ************************/


/* лого */

#registration-logo img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}


/* уведомления */

#registration-info-success {
    display: none;
}

#registration-info-warning {
    display: none;
}

#registration-info-danger {
    display: none;
}